{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
    <title>Issue Tracker Dev</title>
</head>
<body>

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            {% block menu %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'index' %}">Issues
                                <small>dev</small>
                            </a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                {{ user }}
                            <li>
                            <li>
                                {% if user.is_anonymous %}
                                    <a href="{% url 'login' %}">Login or Register</a>
                                {% else %}
                                    <a href="{% url 'logout' %}">Logout</a>
                                {% endif %}

                            </li>
                            {% if issue_list %}
                                <li><a href="{% url 'index' %}">All
                                    <span class="badge">{{ issue_list | length }}</span></a>
                                </li>
                                {#                            <li><a href="{% url 'index' %}">Open#}
                                {#                                <span class="badge">{{ issue_list | length }}</span></a>#}
                                {#                            </li>#}
                                {#                            <li><a href="{% url 'index' %}">Solved#}
                                {#                                <span class="badge">{{ issue_list | length }}</span></a>#}
                                {#                            </li>#}
                                {#                            <li><a href="{% url 'index' %}">Frozen#}
                                {#                                <span class="badge">{{ issue_list | length }}</span></a>#}
                                {#                            </li>#}
                            {% endif %}


                        </ul>

                    </div>
                </nav>

            {% endblock %}
            <div class="col-md-2"></div>
        </div>


        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('.expandable').click(function () {
            $(this).nextAll('tr').each(function () {
                if ($(this).is('.expandable')) {
                    return false;
                }
                $(this).toggle(350);
            });
        });

        $('.expandable').nextAll('tr').each(function () {
            if (!($(this).is('.expandable')))
                $(this).hide();
        });
    });


</script>
</body>
</html>