{% extends 'issue_tracker/base.html' %}
{% block content %}
    <form action="{% url 'issue_new' %}" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-group-vertical btn-primary" value="Add Issue"/>
    </form>
    <br>
    {% if issue_list %}
        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Issue</th>
                <th>Kind</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Product</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issue_list %}
                <tr class="table-header expandable">
                    <td>
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </td>
                    <td>
                        {{ issue.issue_text }}
                    </td>
                    <td>
                        {{ issue.issue_kind }}
                    </td>
                    <td>
                <span class="label
                {% if issue.issue_priority.issue_priority_weight == 0 %}
                label-danger
                {% elif issue.issue_priority.issue_priority_weight == 1 %}
                label-warning
                {% else %}
                label-default
                {% endif %}
                ">{{ issue.issue_priority }}</span>
                    </td>

                    <td>
                        {{ issue.issue_status }}
                    </td>
                    <td>
                        {{ issue.issue_product }}
                    </td>

                    <td><a href="{% url 'issue_edit' issue.pk %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    </td>
                </tr>
                <tr class="table-footer">
                    <td colspan="8">
                        <div>
                            <p><strong>Creator</strong>: {{ issue.issue_creator }}</p>

                            <p><strong>Assignee</strong>: {{ issue.issue_assignee }}</p>

                            <p><strong>Description</strong>: {{ issue.issue_description }}</p>

                            <form action="{% url 'issue_edit' issue.pk %}" method='GET' ">{% csrf_token %}
                                <input type="submit" class="btn btn-group-vertical btn-primary" value="Edit Issue"/>
                            </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h3>No issues.</h3>
    {% endif %}

{% endblock %}
