{% extends 'issue_tracker/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center">{{ issue.issue_text }}
            <small>edit</small>
        </h3>
        <form action="" class="list-group" method="POST">{% csrf_token %}
            <ul class="list-group">
            {% for field in form.visible_fields %}
                <li class="list-group-item"><p>{{ field.label_tag }}<p>{{ field }}</li>
            {% endfor %}
            </ul>
            <input type="submit" class="btn btn-success" placeholder="issue text" value="Save">
            {% if issue.pk %}
            <input type="submit" formaction="{% url 'issue_delete' pk=issue.pk %}" method="post" value="delete"
            class="btn btn-danger">

            {% endif %}
        </form>
    </div>
</div>

{% endblock %}