{% extends "issue_tracker/base.html" %}

{% block content %}
    <form action=""  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Login"></input>
        <h5>Haven't registered yet? Click <a href="{% url 'register' %}">Here</a> to register </h5>
</form>
{% endblock %}